## 파이썬 코딩테스트 100제
<hr>

### 문제1
다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

```python
nums = [100, 200, 300, 400, 500]
```

In [5]:
nums = [100, 200, 300, 400, 500]
del nums[nums.index(400)]
del nums[nums.index(500)]
nums

[100, 200, 300]

### 문제2 : 리스트의 내장함수
```python
l = [200, 100, 300]
<pass>
print(l)
```

<pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.

> 출력

```python
[200, 100, 10000, 300]
```

In [7]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

### 문제 3 : 변수의 타입
- 다음 출력 값으로 올바른 것은?

```python
l = [100, 200, 300]
print(type(l))
```

-> 답: class 'list'

### 문제 4: 변수의 타입2
다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'

-> 답: 3 'str'

### 문제 5: for문 계산
- 다음 코드의 출력 값으로 알맞은 것은?

```python
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)
```

답: a = 10 -> 12 -> 14 + 2 = 16

### 문제 8: 딕셔너리 키 이름 중복
딕셔너리를 다음과 같이 만들었다. 
출력값을 입력하시오. (출력값은 공백을 넣지 않습니다. )

```python
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
```

In [8]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

### 문제 9: sep, end를 활용한 출력
다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

```python
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )
```

In [10]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

### 문제 10: 별 찍기
### 입출력 예시

> 입력

```python
5
```

> 출력

```python
    *
   ***
  *****
 *******
*********
```

In [18]:
starline = int(input())
for i in range(starline+1): print(' ' * (starline-i),'*' * (2*i - 1))

10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

### 문제 11: for를 이용한 기본 활용

1부터 100까지 모두 더하는 Code를 <pass> 부분에 완성하세요. for를 사용해야 합니다.

```python
s = 0

<pass>

print(s)
```

In [20]:
s = 0
for i in range(1, 101): s += i
print(s)

5050

### 문제 12: 게임 캐릭터 클래스 만들기

다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

```python
<여기에 class를 작성하세요.>

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()
```

출력예시

```python
545 210 10
파이어볼
```

In [26]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
        print('파이어볼')

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

### 문제 13: 몇 번째 행성인가요?
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

```python
1
```

출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요.

```python
수성
```

In [29]:
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
print(planets[int(input())-1])

1
수성

### 문제14: 3의 배수인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

In [32]:
n=int(input())
if n%3==0: print('짝')
else: print(n)

3
짝

### 문제 15: 자기소개
신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.

만약 입력으로 `김다정`이라는 이름이 주어지면

```python
안녕하세요. 저는 김다정입니다.
```

라고 출력하게 해주세요.

In [40]:
print(f'안녕하세요. 저는 {input()}입니다.')

김다정
안녕하세요. 저는 김다정입니다.

### 문제 16: 거꾸로

In [39]:
print(f'{input()[::-1]}')

거꾸로
로꾸거

### 문제 17: 놀이기구 키 제한

유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 넘으면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [41]:
height = int(input())
if height >= 150: print('YES')
else: print('NO')

151
YES

### 문제 18: 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [53]:
score = list(map(int, input().split()))
print(int(sum(score)/3))

20 30 40
30

### 문제 19: 제곱을 구하자
공백으로 구분하여 두 숫자 a와 b가 주어지면, a의 b승을 구하는 프로그램을 작성하세요.

In [56]:
n = list(map(int, input().split()))
print(n[0]**n[1])

2 4
16

### 문제 20: 몫과 나머지
공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 **그 몫과 나머지를 공백으로 구분하여 출력하세요.**

> 입력

```python
10 2
```

> 출력

```python
5 0
```

In [57]:
n = list(map(int, input().split()))
print(n[0]//n[1], n[0]%n[1])

10 2
5 0

### 문제 24: 대문자로 바꿔주세요!
민지는 국제 포럼에서 아르바이트를 하게 되었습니다. 민지는 각 국에서 온 참가자들의 명단을 엑셀로 정리하고 있는데 참가자들 이름이 어떤 이는 전부 소문자, 어떤 이는 전부 대문자로 써져 있는 등 형식이 제각각이었습니다.

민지를 위해 이름이 입력되면 전부 대문자로 출력되는 프로그램을 만들어주세요.

In [58]:
print(f'{input().upper()}')

mary
MARY

### 문제 25: 원의 넓이를 구하세요
원의 넓이는 `반지름의 길이 x 반지름의 길이 x 3.14`로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다.

**입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수**를 만들어 주세요.
(입력을 해야하기 때문에 input을 반드시 사용해야합니다)

In [60]:
def f(n):
    return n*n*3.14
f(int(input()))

5

78.5

### 문제 26: 행성 문제 2
우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이 있습니다.
이 행성들의 영어 이름은 Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune입니다.

**행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램**을 만들어 주세요.

In [62]:
d = {'수성':'Mercury', '금성':'Venus', '지구':'Earth'}
print(d[input()])

수성
Mercury

### 문제 27: 딕셔너리 만들기
첫 줄에는 학생의 이름이 공백으로 구분되어 입력되고, 두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.

두 개를 합쳐 **학생의 이름이 key**이고 **value가 수학 점수**인 딕셔너리를 출력해주세요.

> 입력

```python
Yujin Hyewon
70 100
```

> 출력

```python
{'Yujin': 70, 'Hyewon': 100}
```

In [65]:
k, v = input().split(), input().split()
d = {k[0]:v[0], k[1]:v[1]}
print(d)

Y H
70 100
{'Y': '70', 'H': '100'}

In [67]:
# 모범답안
keys = input().split()
values = map(int, input().split())
d = dict(zip(keys, values))
print(d)

Y H
70 100
{'Y': 70, 'H': 100}

### 문제 28: 2-gram
**2-gram**이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. 
예를 들어 '**Python**'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.

```python
Py
yt
th
ho
on
```

입력으로 문자열이 주어지면 **2-gram**으로 출력하는 프로그램을 작성해 주세요.

In [69]:
s = input().replace(' ','')
for i in range(len(s)-1): print(s[i]+s[i+1])

Python
Py
yt
th
ho
on

### 문제 29: 대문자만 지나가세요
진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

**알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램**을 만들어 주세요.

→ 알파벳 여러개를 입력하고 여러개 입력한 것 중 대문자만 출력해주는 프로그램도 만들어보세요.

In [71]:
c = input()[:1]
if c.isupper(): print('YES')
else: print('NO')

A
YES

In [76]:
capital = list(filter(lambda x:x.isupper(), input()))
print(''.join(capital))

AbCdEfG
ACEG

### 문제 30: 문자열 속 문자 찾기
문자 pineapple에는 apple이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다.

입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 
**그 문자가 시작하는 index를 반환하는 프로그램**을 만들어 주세요

```python
**입력**

pineapple is yummy
apple

**출력**
4
```

In [77]:
sentence, key = input(), input()
print(sentence.index(key))

pineapple is
apple
4

#### find와 index
둘 다 문자열에서 문자/문자열의 인덱스를 반환<br>
차이점은 해당 문자/문자열 없을 경우 find: -1 리턴, index: 오류 발생

### 문제 32: 문자열 만들기
취업 준비생인 혜림이는 자기소개서를 쓰고 있습니다. 열심히 자기소개서를 작성하던 도중 혜림이는 자기가 지금까지 단어를 얼마나 적었는지 궁금하게 됩니다. 

혜림이를 위해 **문자열을 입력받으면 단어의 갯수를 출력하는 프로그램**을 작성해 주세요.

```python
**입출력**

입력 : 안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
출력 : 5
```

In [80]:
print(len(input().split()))

안녕하세요. 저는 제주대학교 컴공 혜림입니다.
5

### 문제 33: 거꾸로 출력
한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오.

```python
**입출력**

입력 : 1 2 3 4 5
출력 : 5 4 3 2 1

입력 : 2 4 6 7 8
출력 : 8 7 6 4 2
```

In [87]:
n = list(map(int,input().split()))
for i in n:
    print(n[len(n)-i], end=' ')

1 2 3 4 5
5 4 3 2 1

### 문제 34: sort 구현
민주는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다. 그런데 요즘 민주는 그것이 너무 번거롭게 느껴져 한 번에 확인하고 싶어한다. 

민주를 위해 **키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램**을 작성해보자.

**입출력 예시**

```
입력 : 176 156 155 165 166 169
출력 : NO
```

In [91]:
f = True
h = list(map(int, input().split()))
for i in range(len(h)-1):
    if h[i]<h[i+1]:
        f = False
        print('NO')
        break
if f: print('YES')

176 156 155 165 166 169
NO

In [97]:
h = list(map(int, input().split()))
if h != sorted(h):
    print('NO')
else:
    print('YES')

4 2 3 1
NO

### 문제 35: Factory 함수 사용하기
2제곱, 3제곱, 4제곱을 할 수 있는 Factory 함수를 만들려고 합니다. 

- pass에 코드를 작성하여 two함수를 완성하세요.

```python
def one(n):
    def two():
        <pass>
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))
```

In [98]:
def one(n):
    def two(value):
        sq = value ** n
        return sq
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

### 문제 36: 구구단 출력
1~9까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 프로그램을 작성하세요.

> 입력

```python
2
```

> 출력

```python
2 4 6 8 10 12 14 16 18
```

In [103]:
n = int(input())
for i in range(1, 10):
    print(n*i, end=' ')

2
2 4 6 8 10 12 14 16 18

### 문제 37: count 사용하기
새 학기를 맞아 호준이네 반은 반장 선거를 하기로 했습니다.  그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 **학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램**을 작성하기로 하였습니다.

```python
**입력**
원범 원범 혜원 혜원 혜원 혜원 유진 유진

**출력**
혜원(이)가 총 4표로 반장이 되었습니다.
```

In [119]:
c = input().split()
cnt = 0
for i in range(len(c)):
    if c.count(c[i-1]) < c.count(c[i]):
        cnt = i

print('{}(이)가 총 {}표로 반장이 되었습니다.'.format(c[cnt], c.count(c[cnt])))

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

### 문제 39: 오타 수정하기
혜원이는 평소 영타가 빠르고 정확한 것을 친구들에게 자랑하고 다녔습니다. 반 친구들이 혜원이의 타자 속도가 빠르다는 것을 모두 알게 되자 혜원이는 모두의 앞에서 타자 실력을 보여주게 됩니다. 

그런데 막상 보여주려니 긴장이 되서 문장의 모든 e를 q로 잘못 친 것을 발견했습니다. 
혜원이는 프로그램을 돌려 재빠르게 모든 q를 e로 바꾸는 프로그램을 작성하려고 합니다.

**문장이 입력되면 모든 q를 e로 바꾸는 프로그램을 작성해 주세요.**

```python
**입출력**

입력 : querty
출력 : euerty

입력 : hqllo my namq is hyqwon
출력 : hello my name is hyewon
```

In [122]:
s = input()
print(''.join(list(map(lambda x: x.replace('q','e'), s))))

hqllo my namq is hyqwon
hello my name is hyewon

### 문제 40: 놀이동산에 가자
테마파크에 온 원범이와 친구들은 놀이기구를 타려고 합니다. 모든 놀이기구는 한번에 타는 인원수에는 제한이 없지만 제한 무게를 넘으면 무조건 다음 기구를 타야 합니다. 

**원범이와 친구들이 총 몇 명 탈 수 있는지 알 수 있는 프로그램을 작성해 주세요.**

첫번째 줄에서 제한 무게가 주어지고 두번째 줄에서는 함께한 친구들의 수 n이 주어집니다. 
그 다음 차례대로 탑승할 친구들의 몸무게가 주어집니다. 몸무게는 무작위로 주어집니다.

```python
**입력**

50
5
20
20
20
20
20

**출력**
2
```

In [133]:
limit = int(input())
n = int(input())
w = []
for _ in range(n):
    w.append(int(input()))
a = []
for i in range(len(w)):
    if sum(a, w[i]) > limit:
        break
    a.append(w[i])
print(len(a))

50
5
20
20
20
20
20
[20, 20] 2

### 문제 41: 소수판별
숫자가 주어지면 **소수인지 아닌지 판별하는 프로그램**을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.
(소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수)

In [137]:
n = int(input())
cnt = 0
for i in range(1, n+1):
    if n % i == 0:
        cnt += 1
if cnt == 2:
    print('YES')
else:
    print('NO')

7
YES

### 문제 42: 2020년 (datetime 모듈)
2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요?
두 수 a, b를 입력받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요.
요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다.

예를 들어 a = 5, b = 24라면 5월 24일은 일요일이므로 문자열 "SUN"를 반환하세요.

**제한 조건**
2020년은 윤년입니다.
2020년 a월 b일은 실제로 있는 날입니다. 
(13월 26일이나 2월 45일 같은 날짜는 주어지지 않습니다.)
datetime 모듈을 사용하세요.

In [138]:
import datetime
m,d = map(int, input().split())
print(f'{datetime.date(2020,m,d):%A}'[:3].upper())

5 24
SUN

### 문제 43: 10진수를 2진수로
우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등...은 10진수 체계입니다.
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야할까요?

예를들어 13은 2^3 + 2^2 + 2^0 = 13 이기때문에 1101으로 표현합니다

**사용자에게 숫자를 입력받고 이를 2진수를 바꾸고 그 값을 출력해주세요.**
(bin 함수를 사용하지 않고 풀어주세요.)

In [146]:
n = int(input())
a = []
while n:
    a.append(str(n % 2))
    n = n // 2
a.reverse()
print(''.join(a))

100
1100100

### 문제 44: 각 자리수의 합
**사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램**을 만들어주세요

**예를들어**
18234 = 1+8+2+3+4 이고 정답은 18 입니다.
3849 = 3+8+4+9 이고 정답은 24입니다.

In [152]:
sum(list(map(int, (list(input())))))

18234

18

### 문제 45: time함수 사용하기
python의 모듈 중 하나인 **time 모듈**은 1970년 1월 1일 0시 0분 0초 이후로부터 지금까지 흐른 시간을 초단위로 반환합니다

이를 이용하여 **현재 연도(2019)를 출력해보세요**

In [158]:
import time
one_year = 60 * 60 * 24 * 365
print(int(1970+time.time()//one_year))

2020

### 문제 46: str 자료형의 응용
1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요. 

예를 들어 10부터 15까지의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25입니다.

In [179]:
n = str(list(range(1, 101))).replace('[','').replace(', ','').replace(']','')
s = 0
for i in range(len(n)): s += int(n[i])
s

901

### 문제 47: set 자료형의 응용
바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회혁신 해커톤' 행사를 주최하게 되었습니다. 이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문지를 제출하였습니다. **중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다.**

아래 주어진 데이터들로부터 중복을 제거하여 실제 접수 인원을 출력해 주세요.

```python
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]
```

In [181]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

len(set(people))

5

### 문제 48: 대소문자 바꿔서 출력하기
문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요.

입력

```
AAABBBcccddd
```

출력

```
aaabbbCCCDDD
```

In [187]:
s = input()
ans = ''
for i in s:
    if i.isupper(): ans += i.lower()
    elif i.islower(): ans += i.upper()
print(ans)

AAABBBcccddd
aaabbbCCCDDD

### 문제 49: 최댓값 구하기
순서가 없는 10개의 숫자가 공백으로 구분되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라.

입력

```
10 9 8 7 6 5 4 3 2 1
```

출력

```
10
```

In [188]:
s = list(map(int, input().split()))
max(s)

10 9 8 7 5

10

### 문제 50: 버블정렬 구현
아래 코드의 빈 칸을 채워 버블 정렬을 완성해 봅시다.

```python
def bubble(n, data):
	for i in range(n-1):
		for j in range(빈칸을 채워주세요):
			if data[j] > data[j+1]:
				빈칸을 채워주세요
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)
```

In [192]:
def bubble(n, data):
    for i in range(n-1):
        for j in range(n-i-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
    for i in range(n):
        print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

5
1 4 2 5 3
1 2 3 4 5