1008-A/B

In [14]:
a,b=map(int,input().split())
print(a/b)

1 3
0.3333333333333333

1330-두 수 비교하기

In [18]:
a,b=map(int,input().split())
if a>b: print('>')
elif a<b: print('<')
else: print('==')

1 2
<

2562-최댓값

In [20]:
a=[]
for i in range(9): a.append(int(input()))
print(max(a), a.index(max(a))+1)

3
29
38
12
57
74
40
85
61
85 7

2920-음계

In [25]:
a=list(map(int,input().split()))
if sorted(a)==a: print('ascending')
elif sorted(a,reverse=True)==a: print('descending')
else: print('mixed')

8 7 6 5 4 3 2 1
[8, 7, 6, 5, 4, 3, 2, 1]
descending

8958-OX퀴즈

In [32]:
for i in range(int(input())):
    print(sum(list(map(lambda x:sum(range(1,len(x)+1)),input().split('X')))))

1
OOOOXXOO
13

10869 - 사칙연산

In [34]:
a,b=map(int,input().split())
print(a+b,a-b,a*b,a//b,a%b,sep='\n')

7 3
10
4
21
2
1

11654-아스키코드

In [36]:
print(ord(input()))

0

48

1001-A-B

In [4]:
n=list(map(int,input().split()))
print(n[0]-n[1])

3 2
1

1152-단어의개수

In [5]:
print(len(input().split()))

w e jqkwej qlkwejklq qlkwje
5

1157-단어공부

In [11]:
w=input().lower()
c=list(map(lambda x:w.count(x),set(w)))
if c.count(max(c))>1: print('?')
else: print(list(set(w))[c.index(max(c))].upper())

baaa
A

1546-평균

In [14]:
n=int(input())
s=list(map(int,input().split()))
M=max(s)
for i in range(n):s[i]=s[i]/M*100
print(sum(s)/n)

3
40 80 60
75.0

2475-검증수

In [15]:
print(sum(list(map(lambda x:int(x)**2,input().split())))%10)

0 4 2 5 6
1

2577-숫자의개수

In [ ]:
n=1
for i in range(3): n*=(int(input()))
for i in range(0,10): print(str(n).count(str(i)))

2675-문자열반복

In [25]:
for i in range(int(input())):
    s=input().split()
    for j in s[1]:
        print(j*int(s[0]),end='')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

2753-윤년

In [29]:
x=int(input())
if x%4==0 and (x%400==0 or x%100!=0): print(1)
else: print(0)

1999
0

2884-알람시계

In [33]:
t=list(map(int,input().split()))
h_,m_=t[0],t[1]
if m_-45>=0:
    print(h_,m_-45)
else:
    if h_-1>=0: print(h_-1,m_+15)
    else: print(23, m_+15)

23 40
22 55

2908-상수

In [36]:
print(max(list(map(int,list(map(lambda x:x[::-1],input().split()))))))

734 893
437

3052-나머지

In [37]:
print(len(set(map(lambda x:x%42,[int(input()) for _ in range(10)]))))

39
40
41
42
43
44
82
83
84
85
6

9498-시험성적

In [38]:
s=int(input())
if 90<=s<=100:print('A')
elif 80<=s<=89:print('B')
elif 70<=s<=79:print('C')
elif 60<=s<=69:print('D')
else:print('F')

100
A

10171-고양이

In [43]:
print('\\    /\\',' )  ( \')','(  /  )',' \\(__)|',sep='\n')

\    /\
 )  ( ')
(  /  )
 \(__)|

10172-알파벳찾기

In [47]:
from string import ascii_lowercase
s=input()
print(*list(map(lambda x:s.find(x),ascii_lowercase)),sep=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

10871-X보다 작은 수

In [51]:
s=list(map(int,input().split()))
print(*list(filter(lambda x:x<s[1],list(map(int,input().split())))),sep=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

10998-A*B

In [52]:
s=list(map(int,input().split()))
print(s[0]*s[1])

3 4
12