## 파이썬 코딩테스트 100제
<hr>

### 문제1
다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

```python
nums = [100, 200, 300, 400, 500]
```

In [5]:
nums = [100, 200, 300, 400, 500]
del nums[nums.index(400)]
del nums[nums.index(500)]
nums

[100, 200, 300]

### 문제2 : 리스트의 내장함수
```python
l = [200, 100, 300]
<pass>
print(l)
```

<pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.

> 출력

```python
[200, 100, 10000, 300]
```

In [7]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

### 문제 3 : 변수의 타입
- 다음 출력 값으로 올바른 것은?

```python
l = [100, 200, 300]
print(type(l))
```

-> 답: class 'list'

### 문제 4: 변수의 타입2
다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'

-> 답: 3 'str'

### 문제 5: for문 계산
- 다음 코드의 출력 값으로 알맞은 것은?

```python
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)
```

답: a = 10 -> 12 -> 14 + 2 = 16

### 문제 8: 딕셔너리 키 이름 중복
딕셔너리를 다음과 같이 만들었다. 
출력값을 입력하시오. (출력값은 공백을 넣지 않습니다. )

```python
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
```

In [8]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

### 문제 9: sep, end를 활용한 출력
다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

```python
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )
```

In [10]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

### 문제 10: 별 찍기
### 입출력 예시

> 입력

```python
5
```

> 출력

```python
    *
   ***
  *****
 *******
*********
```

In [18]:
starline = int(input())
for i in range(starline+1): print(' ' * (starline-i),'*' * (2*i - 1))

10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

### 문제 11: for를 이용한 기본 활용

1부터 100까지 모두 더하는 Code를 <pass> 부분에 완성하세요. for를 사용해야 합니다.

```python
s = 0

<pass>

print(s)
```

In [20]:
s = 0
for i in range(1, 101): s += i
print(s)

5050

### 문제 12: 게임 캐릭터 클래스 만들기

다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

```python
<여기에 class를 작성하세요.>

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()
```

출력예시

```python
545 210 10
파이어볼
```

In [26]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
        print('파이어볼')

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

### 문제 13: 몇 번째 행성인가요?
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

```python
1
```

출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요.

```python
수성
```

In [29]:
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
print(planets[int(input())-1])

1
수성

### 문제14: 3의 배수인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

In [32]:
n=int(input())
if n%3==0: print('짝')
else: print(n)

3
짝

### 문제 15: 자기소개
신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.

만약 입력으로 `김다정`이라는 이름이 주어지면

```python
안녕하세요. 저는 김다정입니다.
```

라고 출력하게 해주세요.

In [36]:
print(f'안녕하세요. 저는 {input()}입니다.')

김다정
안녕하세요. 저는 김다정입니다.